image: gradle:8.4-jdk17 #

variables:
  # Define where Gradle stores dependencies for efficient caching
  GRADLE_USER_HOME: "$CI_PROJECT_DIR/.gradle_home" #

stages:
  - build
  - test

cache:
  paths:
    - .gradle_home/.gradle/caches # Cache Gradle dependencies and build cache
    - .gradle_home/.gradle/wrapper # Cache Gradle wrapper files

build-job:
  stage: build
  script:
    - gradle clean build -x test # Build the project, skip tests for now
  artifacts:
    paths:
      - build/libs/*.jar # Save the generated JAR file as an artifact
    expire_in: 1 day #

test-job:
  stage: test
  script:
    - gradle test # Run the tests using Gradle's built-in task
  needs:
    - build-job # Ensure the build job runs first
